---
---
$ben-red: #76323F;
$ben-gray: #233237;

$content-heading-color: $ben-red;
$link: $ben-red;

$navbar-background-color: $ben-gray;
$navbar-item-color: white;
$navbar-item-active-color: darken($navbar-item-color, 10%);
$navbar-item-active-background-color: lighten($navbar-background-color, 10%);
$navbar-item-hover-background-color: $navbar-item-active-background-color;
$navbar-item-hover-color: $navbar-item-active-color;

$navbar-breakpoint: 10px;

@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/components/navbar";
@import "bulma/sass/grid/_all";
@import "bulma/sass/layout/_all";

.content h1 {
    font-weight: 300;
}

.content h1 a {
    font-weight: 300;
}

.navbar-brand a {
    font-weight: 100;
    font-size: 1.5em;
}

.navbar-brand {
    padding: 0 10pt 0 0;
}

.navbar-end a.navbar-item:hover {
    background-color: transparent
}
