---
---
$ben-red: #76323F;
$ben-gray: #233237;

$content-heading-color: $ben-red;
$link: $ben-red;

$fullhd: 700px;
$body-font-size: 1.1em;

$navbar-background-color: $ben-gray;
$navbar-item-color: white;
$navbar-item-active-color: darken($navbar-item-color, 10%);
$navbar-item-active-background-color: lighten($navbar-background-color, 10%);
$navbar-item-hover-background-color: $navbar-item-active-background-color;
$navbar-item-hover-color: $navbar-item-active-color;

$navbar-breakpoint: 10px;

$code: inherit;
$code-weight: bold;

@import "../css/includes/github";

@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "bulma/sass/utilities/derived-variables";
@import "bulma/sass/utilities/mixins";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/container";
@import "bulma/sass/elements/content";
@import "bulma/sass/elements/tag";
@import "bulma/sass/elements/title";
@import "bulma/sass/elements/other";
@import "bulma/sass/components/navbar";
@import "bulma/sass/layout/footer";
@import "bulma/sass/layout/section";
@import "bulma/sass/helpers/color";
@import "bulma/sass/helpers/typography";

.content h1 {
    font-weight: 300;
}

.content h1 a {
    font-weight: 300;
}

.navbar-brand a {
    font-weight: 100;
    font-size: 1.5em;
}

.navbar-brand {
    padding: 0 10pt 0 0;
}

.navbar-end a.navbar-item:hover {
    background-color: transparent
}

figure.highlight {
    text-align: left;
}

.content a {
    font-weight: 600;
}
