<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  {% seo %}
  <link rel="stylesheet" href="{{ site.cached_assets['/css/main.css'] }}">
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      benasher.co
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      {% assign nav_pages = site.pages | where: "in-nav", "true" | sort: "nav-order" %}
      {% for nav_page in nav_pages %}
        <a class="navbar-item{% if page.url == nav_page.url %} is-active{% endif %}" href="{{ nav_page.url }}">
          {{ nav_page.title }}
        </a>
      {% endfor %}
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="/feed.xml">RSS</a>
    </div>
  </div>
</nav>
<main>
  {{ content }}
</main>
<footer class="footer">
  <div class="content has-text-centered is-size-7">
    <p>The source to build and deploy this site is available <a href="https://github.com/benasher44/benasher.co">here</a>. &copy; 2023 <a rel="me" href="https://mastodon.social/@benasher44">Ben Asher</a>.</p>
    <p>This site was last updated on {{ "now" | date: "%b %e, %Y" }}.</p>
  </div>
</footer>
</body>
</html>
