<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  {% seo %}
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      benasher.co
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      {% assign nav_pages = site.pages | where: "in-nav", "true" | sort: "nav-order" %}
      {% for nav_page in nav_pages %}
        <a class="navbar-item{% if page.url == nav_page.url %} is-active{% endif %}" href="{{ nav_page.url }}">
          {{ nav_page.title }}
        </a>
      {% endfor %}
    </div>
  </div>
</nav>
<main class="section">
  <div class="container">
    <div class="columns is-centered">
      {{ content }}
    </div>
  </div>
</main>
</body>
</html>
